<section class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-5">
          <h2 class="display-5 fw-bold text-center">Sign up</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-12 col-lg-5">
        <div class="row gy-3 overflow-hidden">
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email"
                placeholder="name@example.com" required>
              <label for="email" class="form-label">Email</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control border-0 border-bottom rounded-0" name="fullname" id="fullname"
                placeholder="Du Truong Hay" required>
              <label for="fullname" class="form-label">Full Name</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control border-0 border-bottom rounded-0" name="phone" id="phone"
                placeholder="08XXXXXXXX" required>
              <label for="phone" class="form-label">Phone</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="password" class="form-control border-0 border-bottom rounded-0" name="password" id="password"
                value="" placeholder="Password" required>
              <label for="password" class="form-label">Password</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="password" class="form-control border-0 border-bottom rounded-0" name="confirm" id="confirm"
                value="" placeholder="Confirm password" required>
              <label for="confirm" class="form-label">Confirm password</label>
            </div>
          </div>
          <div class="col-12">
            <div class="d-grid">
              <button class="btn btn-lg btn-dark rounded-0 fs-6">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center m-0">You have an account? <a routerLink="/auth/sign-in"
            class="text-decoration-none text-danger">Sign in</a></p>
        <p class="text-center m-0"><a routerLink="/home" class="text-decoration-none text-danger">Go to home page</a>
        </p>
      </div>
    </div>
  </div>
</section>